Boy, was I wrong! That's a terrible name! Player 2, I'm sure your name is much more interesting than 
<%= player_one_name %>. Hit me with it!





<form method = "post" action = "player_2_name">

	<input type = "text" name = "player_2_name">

<br>

<input type = "submit">

</form>